<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Puzzles</title>

</head>
<body>
    <main style="display:flex; justify-content:center; align-items:center; margin-top:200px; flex-direction:column; color:#17a2b8">
        <h1>Welcome to our cocktail bar!</h1>
        <br>
        <h4>Home to the finest cocktails around</h4>
        <img src="https://i.ibb.co/BfLs9jS/cocktails.png" alt="Cocktail Image">
    </main>
</body>
</html>