<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Error! You don't have the rights to access this page!</h2>
        <p>Click the button below to return the main apge</p>
        <hr />
        <p>
            <a asp-controller="Cocktails" asp-action="Index" class="btn btn-outline-success"> Home Page </a>
        </p>
    </div>
</div>